@font-face {
  font-family: 'Silly';
  src: url('./fonts/MotleyForcesRegular-w1rZ3.ttf');
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  overscroll-behavior: none; /* Disable Chrome two fingers back/forward swipe */
  user-select: none;  /* Prevent accidental selection while dragging mouse */
  touch-action: none;

  background-color: #222222;
  color: white;

  font-family: 'Silly';
  text-shadow: 2px 2px black;
}

#wrapper {
  position: relative;
  aspect-ratio: 15 / 16;
  min-width: 0%;
  max-width: 100%;
  min-height: 0%;
  max-height: 100%;
  margin: 0 auto;
}